# build output
/dist/
/build/

/node_modules/        # Папка с зависимостями

# Системы сборки и временные файлы
/coverage/            # Папка с результатами покрытия тестами
*.log                 # Лог-файлы
*.lock                # Файлы блокировки зависимостей (например, package-lock.json)
/npm-debug.log*       # Логи npm
/yarn-debug.log*      # Логи yarn
/pnpm-debug.log*      # Логи pnpm

# Статические файлы, генерируемые при сборке
/public/              # Папка с публичными файлами React
/.cache/              # Кэш build систем (например, Webpack)

# Файлы переменных окружения
.env                 # Файл с переменными окружения
.env.local           # Локальные переменные окружения
.env.development     # Переменные окружения для разработки
.env.production      # Переменные окружения для продакшн

# Прочие системные файлы
.DS_Store            # Файлы macOS
.idea/               # Папка настроек JetBrains IDE
.vscode/             # Папка настроек Visual Studio Code

# Реакт- и webpack-специфичные файлы
*.tgz                # Архивы из npm или других пакетов
*.zip                # Архивы
