body {
  background-color: #040404;
  font-family: "Play", serif;
  transition: opacity 0.3s;
  cursor: none;
}

body::-webkit-scrollbar {
  display: none;
}

html,
body {
  min-width: 1024px;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-items: center;
  scroll-behavior: smooth;
}


.container {
  width: 100%;
  max-width: 1440px;
  position: relative;
}

.cursor-outer {
  width: 35px;
  height: 35px;
  border: 1px solid #f5f5f5;
  opacity: 0;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.075s, filter 0.3s ease, width 0.1s ease,
    height 0.1s ease;
  background-color: transparent;
  mix-blend-mode: difference;
}

.cursor-inner {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
  border-radius: 50%;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.03s, filter 0.3s ease, width 0.05s ease,
    height 0.05s ease;
  mix-blend-mode: difference;
}

.drag-cursor {
  width: 140px;
  height: 140px;
  background-color: rgba(11, 11, 11, 0.5);
  backdrop-filter: blur(30px);
  opacity: 0;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.1s ease-out, width 0.1s ease, height 0.1s ease;
}

.cursor-text {
  font-size: 20px;
  color: #f5f5f5;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: transform 0.1s ease-out, width 0.1s ease, height 0.1s ease;
}

::selection {
  background-color: #7855ed;
  color: #f5f5f5;
}
