.main-title:after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 5px;
    background: #f5f5f5;
    margin-left: 5px;
    animation: blink 0.6s infinite alternate;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    51% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @media (max-height: 900px) {
    .main-content {
      margin-top: 200px;
    }
  }
  
  @media (min-height: 900px) {
    .main-content {
      margin-top: 250px;
    }
  }
  
  .main-title {
    color: #f5f5f5;
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 30px;
  }
  
  .main-text {
    color: #f5f5f5;
    font-size: 20px;
    margin-bottom: 47px;
    line-height: 130%;
    font-weight: 100;
  }
  
  .main-button {
    position: relative;
    border: 1px solid #f5f5f5;
    background-color: transparent;
    color: #f5f5f5;
    font-size: 20px;
    width: 188px;
    height: 50px;
    font-weight: bold;
    border-radius: 19px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition:
      color 0.3s ease,
      border-color 0.3s,
      border 0.3s ease,
      transform 0.5s;
  }
  
  .main-button::after {
    content: "";
    position: absolute;
    bottom: -388px;
    left: -100px;
    width: 388px;
    height: 388px;
    background-color: #f5f5f5;
    border-radius: 100%;
    overflow: hidden;
    transition: all 0.5s;
    z-index: -1;
  }
  
  .main-button:hover::after {
    bottom: -320px;
  }
  
  .main-button:hover {
    cursor: none;
    color: #050505;
    border-color: #050505;
    transform: scale(1.1);
  }
  
  .main-button:active {
    color: #7855ed;
    border: 1px solid #7855ed;
    transform: scale(0.9);
  }
  