#carousel {
    transition: all 0.5s;
    user-select: none;
  }
  
  #carousel-container {
    overflow: hidden;
  }
  
  .carousel-track {
    display: flex;
    gap: 75px;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    align-items: center;
  }
  
  .carousel-item img {
    height: 200px;
    width: 200px;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 27px;
  }
  
  .carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .progress-bar {
    width: 50%;
    height: 5px;
    background: #5b5b5b;
    border-radius: 20px;
    position: relative;
    margin: 0 24px;
  }
  
  .progress {
    height: 5px;
    border-radius: 20px;
    background: #f5f5f5;
    width: 0%;
    transition: width 0.3s;
  }
  
  .more_buttons {
    height: 50px;
    width: 300px;
    background: none;
    font-size: 16px;
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
    border-radius: 20px;
    overflow: hidden;
    font-family: "Play", serif;
    position: relative;
    margin-bottom: 10px;
    transition:
      color 0.3s ease,
      border-color 0.3s,
      border 0.3s ease,
      transform 0.5s;
  }
  
  .more_buttons:active {
    background-color: #f5f5f5;
    color: #7855ed;
    border: 1px solid #7855ed;
    transform: scale(0.9);
  }
  
  .arrow_buttons {
    height: 32px;
    width: 64px;
    background: none;
    font-size: 16px;
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
    border-radius: 20px;
    overflow: hidden;
    transition:
      color 0.3s ease,
      border-color 0.3s,
      border 0.3s ease,
      background 0.5s,
      transform 0.5s;
  }
  
  .svg_wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .arrow_buttons:hover .svg_wrapper {
    mix-blend-mode: difference;
  }
  
  .arrow_buttons:hover:disabled .svg_wrapper {
    mix-blend-mode: normal;
  }
  
  .arrow_buttons:disabled {
    border: 1px solid #0b0b0b;
    background: #0b0b0b;
    transform: scale(1);
  }
  
  .arrow_buttons:active {
    background-color: #f5f5f5;
    color: #7855ed;
    border: 1px solid #7855ed;
  }
  