header {
    z-index: 9999;
    background-color: rgba(4, 4, 4, 0.55);
    backdrop-filter: blur(30px);
    position: fixed;
    width: calc(100% - 84px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  
  #logoHeader {
    height: 35px;
  }
  
  #menuHeader {
    height: 23px;
    width: 23px;
    max-width: 100%;
  }
  